{% extends "base.html" %}

{% block tabs %}
<ul class="md-tabs__list">
    <li class="md-tabs__item">
        <a href="{{ nav.home.url | url }}" class="md-tabs__link">Home</a>
    </li>

    <!-- Training Material Dropdown -->
    <li class="md-tabs__item md-tabs__dropdown">
        <a href="#" class="md-tabs__link">Training Material ⌄</a>
        <ul class="md-tabs__submenu">
            <li><a href="{{ 'about.md' | url }}">Introduction to Linux</a></li>
            <li><a href="{{ 'slurmintro.md' | url }}">How to use Slurm</a></li>
        </ul>
    </li>

    <li class="md-tabs__item">
        <a href="{{ 'quicklink.md' | url }}" class="md-tabs__link">Quick Link</a>
    </li>
</ul>
{% endblock %}

