.md-header__title {
    /* font-family: 'Arial', sans-serif;  change font */
    font-family: "Times New Roman", serif;
    font-size: 20px;                   /* font size */
    color: black !important;                     /* font color */
}



.md-header__button.md-logo img {
    height: 35px;  /* adjust Logo height */
    width: auto;   /* auto width-adpated  */
}

.md-header {
    background-color: white !important;
    color: black; /*  */
}

.md-tabs {
    background-color: #2D5E3D !important; /* background color for tab */
}

.md-tabs__link {
    color: white !important;
}


